html, body {
  min-height: 100%;
  margin: 0; }

.app {
  color: darkgray;
  background: linear-gradient(to right, #607D8B, #263238);
  font-family: "Dosis", sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh; }
  .app header {
    color: darkgray;
    text-shadow: 1px 1px 1px #263238;
    background: linear-gradient(to right, #607D8B, #263238);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px; }
    .app header h4 {
      width: 60%;
      color: aliceblue;
      font-size: 1.12em;
      letter-spacing: 9px;
      font-weight: 20; }
    .app header div {
      padding: 0 30px;
      display: flex;
      flex-direction: row;
      flex-grow: 1;
      justify-content: space-between; }

.content-sector {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  margin-top: 27px; }
  .content-sector aside {
    justify-content: flex-start;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0 20px;
    font-size: 1.2em; }
    .content-sector aside button {
      margin-top: 20px;
      margin-bottom: 20px; }
    .content-sector aside div {
      display: flex;
      flex-direction: column; }
      .content-sector aside div button {
        margin: 8px auto; }

.lib-act-sector {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  align-items: center; }

.library, .main {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0; }

.library {
  background: linear-gradient(to right, #263238, #607D8B);
  position: relative;
  width: 50%; }

.main {
  flex-grow: 1; }

.main-a {
  margin: auto; }
  .main-a form {
    text-align: center; }
    .main-a form label {
      font-size: 5.4vw;
      letter-spacing: 4px;
      animation: changing 2500ms ease;
      animation-iteration-count: infinite;
      animation-direction: alternate; }

@keyframes changing {
  0% {
    color: inherit; }
  100% {
    color: #263238; } }
.header {
  display: inherit;
  flex-direction: row;
  margin-bottom: 50px;
  padding: 0 1vw; }
  .header h2 {
    margin-right: 8vw;
    color: azure; }
  .header label {
    color: azure; }

.btn {
  font-family: Arial black;
  background: transparent;
  border-style: unset;
  box-shadow: 2px 2px 4px 0px #263238;
  color: azure;
  margin: auto 3px;
  padding-top: 2px;
  padding-bottom: 2px;
  border-radius: 4px;
  transition: all ease 100ms; }

.btn:hover {
  cursor: pointer;
  transform: scale(0.8); }

.del-btn {
  background: linear-gradient(to right, rgba(233, 30, 99, 0.83), rgba(237, 20, 61, 0.79)); }

.special-btn {
  box-shadow: 2px 4px 7px 1px steelblue; }

.comp-wrapper {
  font-size: 1.2em;
  padding: 20px; }

.subheader {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

.activity {
  position: relative;
  text-align: left; }
  .activity button:nth-child(1) {
    width: 70%;
    padding-left: 8px;
    margin: 0 15px 0 auto;
    text-align: left; }
  .activity span {
    width: 18%;
    padding: 0 10px; }
  .activity button:nth-child(2) {
    width: 8%; }

.adding-activity-section, .main-b > form {
  text-align: center; }

.adding-activity-section label {
  padding-right: 13px; }

.main-c {
  text-align: center; }

.main-b > ul, .main-c > ul {
  font-size: 20px; }
  .main-b > ul li, .main-c > ul li {
    display: flex;
    flex-direction: row;
    justify-content: flex-start; }
    .main-b > ul li span, .main-c > ul li span {
      width: 35%; }
    .main-b > ul li strong, .main-c > ul li strong {
      width: 60%; }

.c-page-activity {
  transition: all 300ms ease; }

.c-page-activity:hover {
  cursor: pointer;
  color: azure; }

.c-page-activity:active {
  transform: scaleX(0.95); }

.status {
  width: 5%; }

.rmv-btns-section {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center; }
  .rmv-btns-section button {
    margin: 10px 3px; }

.submit-btn {
  background: linear-gradient(to left, #00BCD4, #2196F3);
  text-align: center; }

#showActivities {
  margin: 20px auto; }

.list {
  padding-left: 20px;
  padding-right: 20px; }

.intervals-settings {
  display: flex;
  flex-direction: column;
  flex-grow: 1; }
  .intervals-settings header div button {
    margin: auto 7px; }
  .intervals-settings form {
    margin: 40px auto; }

.settings-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center; }

.time-unit-settings {
  margin: 10px; }
  .time-unit-settings button {
    margin-right: 2px;
    margin-left: 4px; }

.inp {
  font-family: inherit;
  background-color: #2c3134;
  color: lightblue;
  border-style: hidden;
  padding: 2px;
  border-radius: 4px; }

.setter {
  font-size: 1.5em; }

/*# sourceMappingURL=index.css.map */
